body {
  font-family:arial;
  margin: 0px;
  background-color: #74828F;
}
h1{
  padding: 20px;
}
main{
  text-align: center;
  margin-bottom: 20px;
}

google-maps {
  position: relative;
        padding-bottom: 75%;
        overflow: hidden;
}
iframe {
  position: absolute;
   top: 0;
   left: 0;
   width: 100% !important;
   height: 100% !important;
}
button {
  padding: 14px 40px;
  border-radius: 8px;
  background: #96C0CE;
}
button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
